body {
    margin: auto;
    width: 80%;
    display: flex;
    background-image: url('background-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
}

.main-header {
    background-color: rgba(255, 255, 255, 0.7);
    width: auto;
    max-width: 715px;
    text-align: center;
    border: 2px black;
    border-radius: 5px;
}

.websites-created-body {
    background-color: rgba(255, 255, 255, 0.7);
    width: auto;
    max-width: 700px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    border: 2px black;
    border-radius: 5px;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}